<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    Email Verification Page
                </div>
            </div>
            <div class="col-12">
                <div>
                    <h1>Name : {{ user.first_name}} {{user.last_name }} </h1>
                </div>
                <div>
                    <h1>Email : {{ user.email }} </h1>
                </div>
                <div>
                    <h1>Profile</h1>
                </div>
                <div>
                    <h1>Name : {{ user.created_on }} </h1>
                </div>
            </div>

        </div>
    </div>
</body>
</html>