<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">{{ data.name }}</a>
    <div class="d-flex">
        <a href="/user/sign_out" class="navbar-toggler text-white pt-2 mr-3">Logout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item {% if data.home == True %} active  {% endif %}">
                <a class="nav-link" href="/dashboard/home">Home</a>
            </li>
            <li class="nav-item {% if data.friends == True %} active  {% endif %}">
                <a class="nav-link"  href="/dashboard/friend">Friends</a>
            </li>
            <li class="nav-item{% if data.post == True %} active  {% endif %}">
                <a class="nav-link" href="/dashboard/post">Post Something</a>
            </li>
             <li class="nav-item{% if data.profile == True %} active  {% endif %}">
                <a class="nav-link" href="/dashboard/Profile">Profile</a>
            </li>
        </ul>
        <form action="/action_page.php">
            <div class="input-group ml-2">
                <input type="text" class="form-control d-md-block d-xl-block d-none" placeholder="Something clever..">
                <input type="text" class="form-control col-5 d-md-none d-sm-block" placeholder="Something clever..">
                <div class="input-group-append mt-1">
                    <button class="btn btn-primary btn-sm" type="button">Find User</button>
                </div>
            </div>
        </form>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <a href="/user/sign_out" class="btn btn-secondary">Logout</a>
    </div>
</nav>
